{% extends 'layout.html' %}
{% block headerjs %}

{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
<div class="input-group">
    <input type="text" class="form-control" placeholder="Search for...">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" width="100">Go!</button>
        <button type="button" width="100" class="btn btn-default btn-lg" data-toggle="modal" data-target="#myModal">添加</button>
    </span>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">...</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /input-group -->


<br>

<table class="table table-hover">
    <tr>
        <th class="active">名称</th>
        <th class="success">说明</th>
        <th class="warning">模型数</th>     
        <th class="info">创建人</th>
        <th class="info">创建时间</th>
        <th class="info">操作</th>
    </tr>

    <tr>
    <td class="active"><a href="/stratyge_detail">10元线性回归</a></td>
        <td class="success">...</td>
        <td class="warning">...</td>
        <td class="danger">...</td>        
        <td class="active">...</td>
        <td class="success">            
            <a href="#">下载</a>
        </td>
    </tr>
</table>
{% endblock %}

{% block js %}

{% endblock %}