{% extends 'layout.html' %}
{% block headerjs %}

{% endblock %}
{% block css %}
{% endblock %}

{% block content %}
    <h3><span> <a href="/stratyge_list">back</a>&nbsp;|&nbsp;黄金板块数据</span></h3>
    
    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/stratyge_detail">基本信息</a></li>
      <li role="presentation"><a href="/stratyge_train">模型训练</a></li>
      <li role="presentation"><a href="/stratyge_model_list">模型列表</a></li>
      <li role="presentation" class="active"><a href="/stratyge_backtest_code" >回测代码</a></li>
      <li role="presentation"><a href="/stratyge_backtest_result">回测结果</a></li>      
    </ul>
    <br>
    <h5><span> <a >执行</a>&nbsp;|&nbsp;<a >上传代码</a>&nbsp;|&nbsp;<a >下载代码</a>&nbsp;|&nbsp;<a >下载数据</a>&nbsp;</span></h5>
    <iframe src="/static/editor/index.html" frameborder="0" style="padding: 0px; width: 100%; height: 400px;"></iframe>

{% endblock %}

{% block js %}
<script src="/static/editor/app.js"></script>  
{% endblock %}